<footer class="footer">
    <div class="footer__wrapper wrapper">
        <div class="footer__container">
            <div class="footer__menu">
                <div class="footer__menu-col footer__menu-col_catalog">
                    <p class="footer__menu-title">Каталог</p>
                    <div class="footer__menu-link-container">
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">О компании</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Планшеты</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Ноутбуки и кампьютеры</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Умные часы и фитнесс-браслеты</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Наушники и колонки</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Продукция Dyson</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Пылесосы</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Гейминг</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Продукция Xiaomi</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Услуги и софт</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Экшн-камеры</a></div>
                    </div>
                </div>
                <div class="footer__menu-col">
                    <p class="footer__menu-title">Покупателям</p>
                    <div class="footer__menu-link-container">
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Акции</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Trade-in</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Оплата и доставка</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Гарантия и возврат</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Рассрочка и кредит</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Новости и обзоры</a></div>
                    </div>
                </div>
                <div class="footer__menu-col">
                    <p class="footer__menu-title">О компании</p>
                    <div class="footer__menu-link-container">
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Вакансии</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Контакты</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Обратная связь</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">О нас</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Публичная оферта</a></div>
                        <div class="footer__menu-link-box"><a href="#" class="footer__menu-link">Политика конфиденциальности</a></div>
                    </div>
                </div>
            </div>
            <div class="footer__contacts">
                <p class="footer__contacts-title">Оставайтесь на связи</p>
                <a href="tel:+79180000025" class="footer__contacts-phone">+7 918 000-00-25</a>
                <p class="footer__contacts-time">с 9:00 до 22:00, без выходных</p>
                <div class="footer__sn">
                    <p class="footer__sn-title">Напишите нам в чат</p>
                    <div class="footer__sn-list">
                        <a href="#" class="footer__sn-link" style="--fill: #fff">
                            <img src="img/icon/sn/whatsup-wh.svg" alt="" class="footer__sn-link-img footer__sn-link-wh">
                            <img src="img/icon/sn/whatsup-hover.svg" alt="" class="footer__sn-link-img footer__sn-link-hover">
                            <img src="img/icon/sn/whatsup-color.svg" alt="" class="footer__sn-link-img footer__sn-link-color">
                        </a>
                        <a href="#" class="footer__sn-link" style="--fill: #27A6E5">
                            <img src="img/icon/sn/tg-wh.svg" alt="" class="footer__sn-link-img footer__sn-link-wh">
                            <img src="img/icon/sn/tg-hover.svg" alt="" class="footer__sn-link-img footer__sn-link-hover">
                            <img src="img/icon/sn/tg-color.svg" alt="" class="footer__sn-link-img footer__sn-link-color">
                        </a>
                        <a href="#" class="footer__sn-link" style="--fill: #0077FF">
                            <img src="img/icon/sn/vk-wh.svg" alt="" class="footer__sn-link-img footer__sn-link-wh">
                            <img src="img/icon/sn/vk-hover.svg" alt="" class="footer__sn-link-img footer__sn-link-hover">
                            <img src="img/icon/sn/vk-color.svg" alt="" class="footer__sn-link-img footer__sn-link-color">
                        </a>
                    </div>
                </div>
                <div class="footer__sn">
                    <p class="footer__sn-title">CMstore в соцсетях</p>
                    <div class="footer__sn-list">
                        <a href="#" class="footer__sn-link footer__sn-link_insta" style="--fill: #fff">
                            <img src="img/icon/sn/insta-wh.svg" alt="" class="footer__sn-link-img footer__sn-link-wh">
                            <img src="img/icon/sn/insta-hover.svg" alt="" class="footer__sn-link-img footer__sn-link-hover">
                            <img src="img/icon/sn/insta-color.svg" alt="" class="footer__sn-link-img footer__sn-link-color">
                        </a>
                        <a href="#" class="footer__sn-link footer__sn-link_no-mob" style="--fill: #27A6E5">
                            <img src="img/icon/sn/youtube-wh.svg" alt="" class="footer__sn-link-img footer__sn-link-wh">
                            <img src="img/icon/sn/youtube-hover.svg" alt="" class="footer__sn-link-img footer__sn-link-hover">
                            <img src="img/icon/sn/youtube-color.svg" alt="" class="footer__sn-link-img footer__sn-link-color">
                        </a>
                        <a href="#" class="footer__sn-link" style="--fill: #27A6E5">
                            <img src="img/icon/sn/tg-wh.svg" alt="" class="footer__sn-link-img footer__sn-link-wh">
                            <img src="img/icon/sn/tg-hover.svg" alt="" class="footer__sn-link-img footer__sn-link-hover">
                            <img src="img/icon/sn/tg-color.svg" alt="" class="footer__sn-link-img footer__sn-link-color">
                        </a>
                        <a href="#" class="footer__sn-link" style="--fill: #0077FF">
                            <img src="img/icon/sn/vk-wh.svg" alt="" class="footer__sn-link-img footer__sn-link-wh">
                            <img src="img/icon/sn/vk-hover.svg" alt="" class="footer__sn-link-img footer__sn-link-hover">
                            <img src="img/icon/sn/vk-color.svg" alt="" class="footer__sn-link-img footer__sn-link-color">
                        </a>
                        <a href="#" class="footer__sn-link" style="--fill: #0077FF">
                            <img src="img/icon/sn/dzen-wh.svg" alt="" class="footer__sn-link-img footer__sn-link-wh">
                            <img src="img/icon/sn/dzen-hover.svg" alt="" class="footer__sn-link-img footer__sn-link-hover">
                            <img src="img/icon/sn/dzen-color.svg" alt="" class="footer__sn-link-img footer__sn-link-color">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__info">
                <div class="footer__callback">
                    <p class="footer__info-title">Следите за новинками, скидками и акциями</p>
                    <form class="footer__callback-form formValid">
                        <label class="input-text__label footer__callback-form-label">
                            <input type="text" class="footer__callback-input" name="mail" data-rule="mail|required" placeholder="Введите почту">
                            <input type="submit" value="" class="footer__callback-btn">
                        </label>
                        <div class="footer__callback-send">
                            <img src="img/icon/checkmark.svg" alt="">
                            <p>Вы успешно подписались</p>
                        </div>
                    </form>
                    <p class="footer__callback-desc">
                        Подписываясь на рассылку, вы соглашаетесь с <a href="#">условиями оферты</a> и <a href="#">политики конфиденциальности</a>
                    </p>
                </div>
                <a href="#" class="footer__button-service button button__border-lighten">Сервисный центр</a>
                <a href="#" class="footer__ya-market"><img src="img/content/rating.svg" alt=""></a>
            </div>
        </div>
    </div>
</footer>
