
<header class="header">
    <div class="header__hhead">
        <div class="header__wrapper wrapper">
            <div class="header__hhead-left">
                <div class="header-city">
                    <a href="#" class="header-city__link js-modal-inline" data-src="city">
                        <svg width="24" height="24">
                            <use xlink:href="img/sprite.svg#icon-city"></use>
                        </svg>
                        <span>Краснодар</span>
                    </a>
                    <div class="header-city__question">
                        <a href="#" class="header-city__question-close">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#icon-close"></use>
                            </svg>
                        </a>
                        <p class="header-city__question-title">Ваш город <b>Краснодар?</b></p>
                        <div class="header-city__question-box">
                            <a href="#" class="button button__height-m header-city__question-button header-city__question-button-close">Да, верно</a>
                            <a href="#" class="button button__border button__height-m header-city__question-button js-modal-inline" data-src="city">Выбрать другой</a>
                        </div>
                    </div>
                    <div class="header-city__question-bg"></div>
                </div>
                <i></i>
                <a href="#" class="header__shop">
                    Магазины
                </a>
            </div>
            <a href="/" class="header__hhead-logo">
                <svg width="52" height="23">
                    <use xlink:href="img/sprite.svg#icon-logo"></use>
                </svg>
            </a>
            <div class="header__hhead-right">
                <!--Тут блок изменился-->
                <div class="header__buyers">
                    <a href="#" class="header__buyers-link">
                        <span>Покупателям</span>
                        <svg width="14" height="9">
                            <use xlink:href="img/sprite.svg#icon-arrow-bt"></use>
                        </svg>
                    </a>
                    <div class="header__buyers-select">
                        <a href="#" class="header__buyers-select-link">Акции</a>
                        <a href="#" class="header__buyers-select-link">Trade-in</a>
                        <a href="#" class="header__buyers-select-link">Оплата и доставка</a>
                        <a href="#" class="header__buyers-select-link">Гарантия и возврат</a>
                        <a href="#" class="header__buyers-select-link">Рассрочка и кредит</a>
                        <a href="#" class="header__buyers-select-link">Новости и обзоры</a>
                    </div>
                </div>
                <a href="https://service.cmstore.ru" class="header__service">
                    Сервисный центр
                </a>
                <div class="header__hhead-contacts">
                    <a href="#" class="header__telegram">
                        <svg width="19" height="16">
                            <use xlink:href="img/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>
                    <a href="#" class="header__whatsup">
                        <svg width="19" height="20">
                            <use xlink:href="img/sprite.svg#icon-whatsup"></use>
                        </svg>
                    </a>
                </div>
                <div class="header-phone-menu">
                    <p class="header-phone-menu__link">
                        <svg width="24" height="24">
                            <use xlink:href="img/sprite.svg#icon-hphone"></use>
                        </svg>
                        <span>+7(918) 000 00 25</span>
                    </p>
                    <ul class="header-phone-menu__list">
                        <li class="header-phone-menu__li header-phone-menu__li_title">
                            <p class="header-phone-menu__title">
                                Свяжитесь с нами
                            </p>
                            <a href="#" class="header-phone-menu__close">
                                <svg width="24" height="24">
                                    <use xlink:href="img/sprite.svg#icon-close"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="header-phone-menu__li">
                            <a href="#" class="header-phone-menu__link-list js-modal-inline" data-src="call-back">
                                <svg width="24" height="24">
                                    <use xlink:href="img/sprite.svg#icon-hphone"></use>
                                </svg>
                                <span>Заказать звонок</span>
                            </a>
                        </li>
                        <li class="header-phone-menu__li">
                            <a href="tel:+79180000025" class="header-phone-menu__link-list">
                                <svg width="24" height="24">
                                    <use xlink:href="img/sprite.svg#icon-hphone"></use>
                                </svg>
                                <span>+7(918) 000 00 25</span>
                            </a>
                        </li>
                        <li class="header-phone-menu__li header-phone-menu__li_mobile">
                            <a href="#" class="header-phone-menu__link-list">
                                <svg width="19" height="16">
                                    <use xlink:href="img/sprite.svg#icon-telegram"></use>
                                </svg>
                                <span>Telegram</span>
                            </a>
                        </li>
                        <li class="header-phone-menu__li header-phone-menu__li_mobile">
                            <a href="#" class="header-phone-menu__link-list">
                                <svg width="19" height="20">
                                    <use xlink:href="img/sprite.svg#icon-whatsup"></use>
                                </svg>
                                <span>WhatsApp</span>
                            </a>
                        </li>
                    </ul>
                    <div class="header-phone-menu__bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bhead">
        <div class="wrapper header__bhead-wrapper">
            <div class="header__bhead-left">
                <a href="/" class="header__logo">
                    <svg width="100" height="44">
                        <use xlink:href="img/sprite.svg#icon-logo"></use>
                    </svg>
                </a>
                <a href="#" class="header__menu-bt button button__height-m">
                    <svg width="24" height="24">
                        <use xlink:href="img/sprite.svg#icon-menu"></use>
                    </svg>
                    <svg width="24" height="24" class="header__menu-bt_close">
                        <use xlink:href="img/sprite.svg#icon-close"></use>
                    </svg>
                    <span>Каталог</span>
                </a>
                <div class="header__search">
                    <form class="header__search-form">
                        <ul class="header__search-form-placeholder-list">
                            <li>Монитор Xiaomi Mi Curved Gamin</li>
                            <li>Apple TV</li>
                            <li>Шлем виртуальной реальности Oculus</li>
                        </ul>
                        <input type="text" class="header__search-input input-text" placeholder="Apple TV">
                        <a href="#" class="header__search-button">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#icon-search"></use>
                            </svg>
                        </a>
                        <!--Кнопку добавил и фон-->
                        <a href="#" class="header__search-clear">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#icon-close"></use>
                            </svg>
                        </a>
                        <a href="#" class="header__search-cancel">Отмена</a>
                    </form>

                    <!--search-result_ok блок удалить, он для показа верстки -->
                    <div class="search-result search-result_ok">
                        <div class="search-result__clue">
                            <a href="#" class="search-result__clue-link">15</a>
                            <a href="#" class="search-result__clue-link">14</a>
                            <a href="#" class="search-result__clue-link">13</a>
                            <a href="#" class="search-result__clue-link">12</a>
                            <a href="#" class="search-result__clue-link">11</a>
                            <a href="#" class="search-result__clue-link">SE</a>
                        </div>
                        <div class="search-result__container">
                            <div class="search-result__col">
                                <div class="search-result__box search-result__box_found">
                                    <a href="#" class="search-result__link">Моноблок <span>Apple</span> iMac 24" M1 (8-core GPU) 8 ГБ, 256 ГБ SSD, синий (MGPK3)</a>
                                    <a href="#" class="search-result__link">Кабели для <span>Apple</span> iPhone</a>
                                    <a href="#" class="search-result__link"><span>Apple</span> iPhone 15</a>
                                    <a href="#" class="search-result__link">Чехлы для <span>Apple</span> iPhone 12</a>
                                    <a href="#" class="search-result__link"><span>Apple</span> iPhone 14</a>
                                    <a href="#" class="search-result__link">Чехлы для <span>Apple</span> iPhone 13</a>
                                    <a href="#" class="search-result__link"><span>Apple</span> iPhone 15 в рассрочку</a>
                                </div>
                                <div class="search-result__box">
                                    <div class="search-result__head">
                                        <p class="search-result__title">Категории</p>
                                    </div>
                                    <a href="#" class="search-result__link">Смартфоны</a>
                                </div>
                            </div>
                            <div class="search-result__col">
                                <ul class="catalog-mini">
                                    <li class="catalog-mini__item">
                                        <a href="#" class="catalog-mini__link">
                                            <div class="catalog-mini__img-box">
                                                <img src="img/content/11.png" alt="">
                                            </div>
                                            <div class="catalog-mini__text">
                                                <p class="catalog-mini__name">Ноутбук Apple Macbook Pro 16» (2023) M2 Pro 16 ГБ, 512 ГБ SSD, серебристый (MNWC3)</p>
                                                <div class="catalog-mini__ptice">
                                                    <p>220 990<span>₽</span></p>
                                                    <p>300 000</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="catalog-mini__item">
                                        <a href="#" class="catalog-mini__link">
                                            <div class="catalog-mini__img-box">
                                                <img src="img/content/12.png" alt="">
                                            </div>
                                            <div class="catalog-mini__text">
                                                <p class="catalog-mini__name">Смартфон Xiaomi 13T 12/256 ГБ зелёный</p>
                                                <div class="catalog-mini__ptice">
                                                    <p>48 990<span>₽</span></p>
                                                    <p>64 990</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="catalog-mini__item">
                                        <a href="#" class="catalog-mini__link">
                                            <div class="catalog-mini__img-box">
                                                <img src="img/content/13.png" alt="">
                                            </div>
                                            <div class="catalog-mini__text">
                                                <p class="catalog-mini__name">Умные часы Apple Watch Ultra 2 49mm GPS + Cellular Titanium Case Blue Ocean Band</p>
                                                <div class="catalog-mini__ptice">
                                                    <p>91 999<span>₽</span></p>
                                                    <p>100 000</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="catalog-mini__item">
                                        <a href="#" class="catalog-mini__link">
                                            <div class="catalog-mini__img-box">
                                                <img src="img/content/14.png" alt="">
                                            </div>
                                            <div class="catalog-mini__text">
                                                <p class="catalog-mini__name">Смартфон Apple iPhone 15 Pro Max 256 ГБ «синий титан»</p>
                                                <div class="catalog-mini__ptice">
                                                    <p>149 990<span>₽</span></p>
                                                    <p>170 000</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#" class="search-result__button button button__gray button__font-small button__height-s button__full">Показать все результаты поиска </a>
                            </div>
                        </div>
                    </div>
                    <div class="search-result">
                        <div class="search-result__container">
                            <div class="search-result__col">
                                <div class="search-result__box">
                                    <div class="search-result__head">
                                        <p class="search-result__title">Часто ищут</p>
                                    </div>
                                    <a href="#" class="search-result__link">iPhone 15 Pro Max</a>
                                    <a href="#" class="search-result__link">AirPods</a>
                                    <a href="#" class="search-result__link">iPhone 15</a>
                                    <a href="#" class="search-result__link">iPhone 14</a>
                                    <a href="#" class="search-result__link">AirPods Max</a>
                                    <a href="#" class="search-result__link">iPhone 12 Pro</a>
                                </div>
                                <div class="search-result__box search-result__box_history">
                                    <div class="search-result__head">
                                        <p class="search-result__title">История</p>
                                        <a href="#" class="search-result__clear-history">Очистить</a>
                                    </div>
                                    <a href="#" class="search-result__link">
                                        <img src="img/icon/searchbox.svg" alt="">
                                        iPhone 13
                                        <span class="search-result__link-remove">
                                            <svg width="24" height="24">
                                                <use xlink:href="img/sprite.svg#icon-close"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="#" class="search-result__link">
                                        <img src="img/icon/searchbox.svg" alt="">
                                        Watch Ultra
                                        <span class="search-result__link-remove">
                                            <svg width="24" height="24">
                                                <use xlink:href="img/sprite.svg#icon-close"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="#" class="search-result__link">
                                        <img src="img/icon/searchbox.svg" alt="">
                                        Смартфоны
                                        <span class="search-result__link-remove">
                                            <svg width="24" height="24">
                                                <use xlink:href="img/sprite.svg#icon-close"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="#" class="search-result__link">
                                        <img src="img/icon/searchbox.svg" alt="">
                                        Macbook Pro 16
                                        <span class="search-result__link-remove">
                                            <svg width="24" height="24">
                                                <use xlink:href="img/sprite.svg#icon-close"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="#" class="search-result__link">
                                        <img src="img/icon/searchbox.svg" alt="">
                                        iPhone 15 Pro Max
                                        <span class="search-result__link-remove">
                                            <svg width="24" height="24">
                                                <use xlink:href="img/sprite.svg#icon-close"></use>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="search-result__col">
                                <div class="search-result__head">
                                    <p class="search-result__title">Хиты подаж</p>
                                </div>
                                <ul class="catalog-mini">
                                    <li class="catalog-mini__item">
                                        <a href="#" class="catalog-mini__link">
                                            <div class="catalog-mini__img-box">
                                                <img src="img/content/11.png" alt="">
                                            </div>
                                            <div class="catalog-mini__text">
                                                <p class="catalog-mini__name">Ноутбук Apple Macbook Pro 16» (2023) M2 Pro 16 ГБ, 512 ГБ SSD, серебристый (MNWC3)</p>
                                                <div class="catalog-mini__ptice">
                                                    <p>220 990<span>₽</span></p>
                                                    <p>300 000</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="catalog-mini__item">
                                        <a href="#" class="catalog-mini__link">
                                            <div class="catalog-mini__img-box">
                                                <img src="img/content/12.png" alt="">
                                            </div>
                                            <div class="catalog-mini__text">
                                                <p class="catalog-mini__name">Смартфон Xiaomi 13T 12/256 ГБ зелёный</p>
                                                <div class="catalog-mini__ptice">
                                                    <p>48 990<span>₽</span></p>
                                                    <p>64 990</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="catalog-mini__item">
                                        <a href="#" class="catalog-mini__link">
                                            <div class="catalog-mini__img-box">
                                                <img src="img/content/13.png" alt="">
                                            </div>
                                            <div class="catalog-mini__text">
                                                <p class="catalog-mini__name">Умные часы Apple Watch Ultra 2 49mm GPS + Cellular Titanium Case Blue Ocean Band</p>
                                                <div class="catalog-mini__ptice">
                                                    <p>91 999<span>₽</span></p>
                                                    <p>100 000</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="catalog-mini__item">
                                        <a href="#" class="catalog-mini__link">
                                            <div class="catalog-mini__img-box">
                                                <img src="img/content/14.png" alt="">
                                            </div>
                                            <div class="catalog-mini__text">
                                                <p class="catalog-mini__name">Смартфон Apple iPhone 15 Pro Max 256 ГБ «синий титан»</p>
                                                <div class="catalog-mini__ptice">
                                                    <p>149 990<span>₽</span></p>
                                                    <p>170 000</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__bhead-right">
                <!--Тут блок изменился-->
                <div class="header__controll">
                    <a href="#" class="header__controll-link header__controll_compare">
                        <svg width="24" height="24">
                            <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                        <span>Сравнение</span>
                    </a>
                    <div class="header__controll-hide">
                        <div class="header-item__container">
                            <a href="#" class="header-item">
                                <div class="header-item__img">
                                    <img src="img/content/6.png" alt="">
                                </div>
                                <div class="header-item__text">
                                    <p class="header-item__name">Электрический самокат Ninebot by Segway KickScooter C20</p>
                                </div>
                                <div class="header-item__remove">
                                    <div class="header-item__remove-bt">
                                        <svg width="24" height="24">
                                            <use xlink:href="img/sprite.svg#icon-remove"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="header-item">
                                <div class="header-item__img">
                                    <img src="img/content/7.png" alt="">
                                </div>
                                <div class="header-item__text">
                                    <p class="header-item__name">Программа страхования от ВСК «Техника в безопасности»</p>
                                </div>
                                <div class="header-item__remove">
                                    <div class="header-item__remove-bt">
                                        <svg width="24" height="24">
                                            <use xlink:href="img/sprite.svg#icon-remove"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="header-item">
                                <div class="header-item__img">
                                    <img src="img/content/8.png" alt="">
                                </div>
                                <div class="header-item__text">
                                    <p class="header-item__name">Игровая мышь Razer DeathAdder Essential (RZ01-03850100-R3M1)</p>
                                </div>
                                <div class="header-item__remove">
                                    <div class="header-item__remove-bt">
                                        <svg width="24" height="24">
                                            <use xlink:href="img/sprite.svg#icon-remove"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="header-item">
                                <div class="header-item__img">
                                    <img src="img/content/10.png" alt="">
                                </div>
                                <div class="header-item__text">
                                    <p class="header-item__name">Беспроводные наушники Apple AirPods Pro 2 (Type-C) "синий титан" (полная покраска)</p>
                                </div>
                                <div class="header-item__remove">
                                    <div class="header-item__remove-bt">
                                        <svg width="24" height="24">
                                            <use xlink:href="img/sprite.svg#icon-remove"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="header-item__bt-box">
                            <a href="#" class="button header-item__button">Перейти к сравнению</a>
                        </div>
                    </div>
                </div>
                <div class="header__controll">
                    <a href="#" class="header__controll-link header__controll_favorites">
                        <svg width="24" height="24">
                            <use xlink:href="img/sprite.svg#icon-favorites"></use>
                        </svg>
                        <span>Избранное</span>
                    </a>
                    <div class="header__controll-hide">
                        <div class="header-item__container">
                            <a href="#" class="header-item">
                                <div class="header-item__img">
                                    <img src="img/content/6.png" alt="">
                                </div>
                                <div class="header-item__text">
                                    <p class="header-item__name">Электрический самокат Ninebot by Segway KickScooter C20</p>
                                </div>
                                <div class="header-item__remove">
                                    <div class="header-item__remove-bt">
                                        <svg width="24" height="24">
                                            <use xlink:href="img/sprite.svg#icon-remove"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="header-item">
                                <div class="header-item__img">
                                    <img src="img/content/7.png" alt="">
                                </div>
                                <div class="header-item__text">
                                    <p class="header-item__name">Программа страхования от ВСК «Техника в безопасности»</p>
                                </div>
                                <div class="header-item__remove">
                                    <div class="header-item__remove-bt">
                                        <svg width="24" height="24">
                                            <use xlink:href="img/sprite.svg#icon-remove"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="header-item__bt-box">
                            <a href="#" class="button header-item__button">Перейти в избранное</a>
                        </div>
                    </div>
                </div>
                <div class="header__controll">
                    <a href="#" class="header__controll-link header__controll_basket">
                        <svg width="24" height="24">
                            <use xlink:href="img/sprite.svg#icon-basket"></use>
                        </svg>
                        <span>Корзина</span>
                    </a>
                    <div class="header__controll-hide">
                        <div class="header-item__container">
                            <a href="#" class="header-item">
                                <div class="header-item__img">
                                    <img src="img/content/6.png" alt="">
                                </div>
                                <div class="header-item__text">
                                    <p class="header-item__name">Электрический самокат Ninebot by Segway KickScooter C20</p>
                                    <div class="header-item__ptice">
                                        <p>14 999<span>₽</span></p>
                                        <p>20 990</p>
                                    </div>
                                </div>
                                <div class="header-item__remove">
                                    <p class="header-item__sum">1 шт</p>
                                    <div class="header-item__remove-bt">
                                        <svg width="24" height="24">
                                            <use xlink:href="img/sprite.svg#icon-remove"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="header-item">
                                <div class="header-item__img">
                                    <img src="img/content/7.png" alt="">
                                </div>
                                <div class="header-item__text">
                                    <p class="header-item__name">Программа страхования от ВСК «Техника в безопасности»</p>
                                    <div class="header-item__ptice">
                                        <p>10 780<span>₽</span></p>
                                    </div>
                                </div>
                                <div class="header-item__remove">
                                    <p class="header-item__sum">1 шт</p>
                                    <div class="header-item__remove-bt">
                                        <svg width="24" height="24">
                                            <use xlink:href="img/sprite.svg#icon-remove"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="header-item__bt-box">
                            <dl class="header-item__price-dl">
                                <dt class="header-item__price-dt">
                                    <a href="#" class="button header-item__button">Перейти в корзину</a>
                                </dt>
                                <dd class="header-item__price-dd">345 970 ₽</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="header__controll">
                    <a href="#" class="header__controll-link">
                        <svg width="24" height="24">
                            <use xlink:href="img/sprite.svg#icon-profile"></use>
                        </svg>
                        <span>Профиль</span>
                    </a>
                    <div class="header__controll-hide header__controll-hide--small">
                        <div class="header__controll-hide-enter">
                            <p>Войдите, чтобы отслеживать заказы, сохранять понравившиеся товары и быстро оформлять покупки</p>
                            <a href="#" class="button button__full">Войти или зарегистироваться</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="menu">
        <div class="menu__wrapper wrapper">
            <div class="menu-category">
                <p class="menu-category__title">Каталог</p>
                <a href="#" class="menu-category__link menu-category__link_current" data-link="category-1">Смартфоны</a>
                <a href="#" class="menu-category__link" data-link="category-2">Планшеты</a>
                <a href="#" class="menu-category__link" data-link="category-3">Ноутбуки и компьютеры</a>
                <a href="#" class="menu-category__link" data-link="category-4">Умные часы и фитнесс-браслеты</a>
                <a href="#" class="menu-category__link" data-link="category-5">Наушники и колонки</a>
                <a href="#" class="menu-category__link" data-link="category-6">Продукция Dyson</a>
                <a href="#" class="menu-category__link" data-link="category-7">Пылесосы</a>
                <a href="#" class="menu-category__link" data-link="category-8">Гейминг</a>
                <a href="#" class="menu-category__link" data-link="category-9">Квадрокоптеры</a>
                <a href="#" class="menu-category__link" data-link="category-10">Электросамокаты</a>
                <a href="#" class="menu-category__link" data-link="category-11">Продукция Xiaomi</a>
                <a href="#" class="menu-category__link" data-link="category-12">Экшн-камеры</a>
                <a href="#" class="menu-category__link" data-link="category-13">Услуги и софт</a>
            </div>
            <div class="menu-catalog menu-catalog_active" id="category-1">
                <ul class="menu-catalog__list" data-title="Смартфоны">
                    <li class="menu-catalog__li menu-catalog__li_all">
                        <a href="#" class="menu-catalog__link menu-catalog__link_title menu-catalog__link_all">Все товары из категории</a>
                    </li>
                    <li class="menu-catalog__li">
                        <a href="#" class="menu-catalog__link menu-catalog__link_title"><span>Apple iPhone</span></a>
                        <div class="menu-catalog__content">
                            <a href="#" class="menu-catalog__link"><span>iPhone 14 Pro Max</span> <span class="menu-catalog__label" style="background: #44B754; color: #fff;">Новинка</span></a>
                            <a href="#" class="menu-catalog__link"><span>iPhone 14 Pro</span></a>
                            <a href="#" class="menu-catalog__link"><span>iPhone 14 Plus </span></a>
                            <a href="#" class="menu-catalog__link"><span>iPhone 14</span></a>
                            <a href="#" class="menu-catalog__link"><span>iPhone 13 Pro Max</span></a>
                            <a href="#" class="menu-catalog__link"><span>iPhone 13 Pro</span></a>
                            <a href="#" class="menu-catalog__link"><span>iPhone 13</span></a>
                            <a href="#" class="menu-catalog__link"><span>iPhone 13 mini</span></a>
                            <a href="#" class="menu-catalog__link"><span>iPhone 12</span></a>
                            <a href="#" class="menu-catalog__link"><span>iPhone 12 mini</span></a>
                        </div>
                    </li>
                    <li class="menu-catalog__li">
                        <a href="#" class="menu-catalog__link menu-catalog__link_title"><span>Samsung</span></a>
                        <div class="menu-catalog__content">
                            <div class="menu-catalog__box">
                                <a href="#" class="menu-catalog__link menu-catalog__link_sub-title"><span>S-серия</span></a>
                                <a href="#" class="menu-catalog__link"><span>Galaxy S22 Ultra</span></a>
                                <a href="#" class="menu-catalog__link"><span>Galaxy S22 Plus</span></a>
                                <a href="#" class="menu-catalog__link"><span>Galaxy S22</span></a>
                                <a href="#" class="menu-catalog__link"><span>Galaxy S21 FE</span></a>
                                <a href="#" class="menu-catalog__link"><span>Galaxy S21</span></a>
                                <a href="#" class="menu-catalog__link"><span>Galaxy S21 Plus</span></a>
                                <a href="#" class="menu-catalog__link"><span>Galaxy S21 Ultra</span></a>
                            </div>
                            <div class="menu-catalog__box">
                                <a href="#" class="menu-catalog__link menu-catalog__link_sub-title"><span>Z-серия</span></a>
                                    <a href="#" class="menu-catalog__link"><span>Galaxy Fold 4</span></a>
                                    <a href="#" class="menu-catalog__link"><span>Galaxy Flip 4</span></a>
                            </div>
                            <div class="menu-catalog__box">
                                <a href="#" class="menu-catalog__link menu-catalog__link_sub-title"><span>A-серия</span></a>
                                <a href="#" class="menu-catalog__link"><span>Galaxy A73</span></a>
                                <a href="#" class="menu-catalog__link"><span>Galaxy A54</span></a>
                                <a href="#" class="menu-catalog__link"><span>Galaxy A34</span></a>
                                <a href="#" class="menu-catalog__link"><span>Galaxy A24</span></a>
                                <a href="#" class="menu-catalog__link"><span>Galaxy A22</span></a>
                                <a href="#" class="menu-catalog__link"><span>Galaxy A23</span></a>
                                <a href="#" class="menu-catalog__link"><span>Galaxy A21</span></a>
                                <a href="#" class="menu-catalog__link"><span>Galaxy A18</span></a>
                            </div>
                        </div>
                    </li>
                    <li class="menu-catalog__li">
                        <a href="#" class="menu-catalog__link menu-catalog__link_title"><span>Xiaomi</span></a>
                        <div class="menu-catalog__content">
                            <div class="menu-catalog__box">
                                <a href="#" class="menu-catalog__link menu-catalog__link_sub-title"><span>MI</span></a>
                                <a href="#" class="menu-catalog__link"><span>Xiaomi S22 Ultra</span></a>
                                <a href="#" class="menu-catalog__link"><span>Xiaomi S22 Plus</span></a>
                                <a href="#" class="menu-catalog__link"><span>Xiaomi S22</span></a>
                                <a href="#" class="menu-catalog__link"><span>Xiaomi S21 FE</span></a>
                                <a href="#" class="menu-catalog__link"><span>Xiaomi S21</span></a>
                                <a href="#" class="menu-catalog__link"><span>Xiaomi S21 Plus</span></a>
                                <a href="#" class="menu-catalog__link"><span>Xiaomi S21 Ultra</span></a>
                            </div>
                            <div class="menu-catalog__box">
                                <a href="#" class="menu-catalog__link menu-catalog__link_sub-title"><span>Poco</span></a>
                                <a href="#" class="menu-catalog__link"><span>Poco Fold 4</span></a>
                                <a href="#" class="menu-catalog__link"><span>Poco Flip 4</span></a>
                            </div>
                            <div class="menu-catalog__box">
                                <a href="#" class="menu-catalog__link menu-catalog__link_sub-title"><span>Redmi</span></a>
                                <a href="#" class="menu-catalog__link"><span>Redmi A73</span></a>
                                <a href="#" class="menu-catalog__link"><span>Redmi A54</span></a>
                                <a href="#" class="menu-catalog__link"><span>Redmi A34</span></a>
                                <a href="#" class="menu-catalog__link"><span>Redmi A24</span></a>
                                <a href="#" class="menu-catalog__link"><span>Redmi A22</span></a>
                                <a href="#" class="menu-catalog__link"><span>Redmi A23</span></a>
                                <a href="#" class="menu-catalog__link"><span>Redmi A21</span></a>
                                <a href="#" class="menu-catalog__link"><span>Redmi A18</span></a>
                            </div>
                        </div>
                    </li>
                    <li class="menu-catalog__li">
                        <a href="#" class="menu-catalog__link menu-catalog__link_title"><span>Oneplus</span></a>
                        <div class="menu-catalog__content">
                            <div class="menu-catalog__box">
                                <a href="#" class="menu-catalog__link"><span>Oneplus S22 Ultra</span></a>
                                <a href="#" class="menu-catalog__link"><span>Oneplus S22 Plus</span></a>
                                <a href="#" class="menu-catalog__link"><span>Oneplus S22</span></a>
                                <a href="#" class="menu-catalog__link"><span>Oneplus S21 FE</span></a>
                                <a href="#" class="menu-catalog__link"><span>Oneplus S21</span></a>
                                <a href="#" class="menu-catalog__link"><span>Oneplus S21 Plus</span></a>
                                <a href="#" class="menu-catalog__link"><span>Oneplus S21 Ultra</span></a>
                            </div>
                        </div>
                    </li>
                    <li class="menu-catalog__li">
                        <a href="#" class="menu-catalog__link menu-catalog__link_title"><span>Asus</span></a>
                        <div class="menu-catalog__content">
                            <div class="menu-catalog__box">
                                <a href="#" class="menu-catalog__link"><span>Asus S22 Ultra</span></a>
                                <a href="#" class="menu-catalog__link"><span>Asus S22 Plus</span></a>
                            </div>
                        </div>
                    </li>
                    <li class="menu-catalog__li">
                        <a href="#" class="menu-catalog__link menu-catalog__link_title"><span>Google</span></a>
                        <div class="menu-catalog__content">
                            <div class="menu-catalog__box">
                                <a href="#" class="menu-catalog__link"><span>Google S22 Ultra</span></a>
                                <a href="#" class="menu-catalog__link"><span>Google S22 Plus</span></a>
                                <a href="#" class="menu-catalog__link"><span>Google S22 Ultra</span></a>
                                <a href="#" class="menu-catalog__link"><span>Google S22 Plus</span></a>
                            </div>
                        </div>
                    </li>
                    <li class="menu-catalog__li">
                        <a href="#" class="menu-catalog__link menu-catalog__link_title"><span>Realme</span></a>
                        <div class="menu-catalog__content">
                            <div class="menu-catalog__box">
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Ultra</span></a>
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Plus</span></a>
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Plus</span></a>
                            </div>
                        </div>
                    </li>
                    <li class="menu-catalog__li">
                        <a href="#" class="menu-catalog__link menu-catalog__link_title"><span>Huawei</span></a>
                    </li>
                </ul>
            </div>
            <div class="menu-catalog" id="category-2">
                <ul class="menu-catalog__list" data-title="Планшеты">
                    <li class="menu-catalog__li">
                        <a href="#" class="menu-catalog__link menu-catalog__link_title"><span>Realme</span></a>
                        <div class="menu-catalog__content">
                            <div class="menu-catalog__box">
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Ultra</span></a>
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Plus</span></a>
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Plus</span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="menu-catalog" id="category-3">
                <ul class="menu-catalog__list" data-title="Ноутбуки и компьютеры">
                    <li class="menu-catalog__li">
                        <a href="#" class="menu-catalog__link menu-catalog__link_title"><span>Realme</span></a>
                        <div class="menu-catalog__content">
                            <div class="menu-catalog__box">
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Ultra</span></a>
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Plus</span></a>
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Plus</span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="menu-catalog" id="category-4">
                <ul class="menu-catalog__list" data-title="Умные часы и фитнесс-браслеты">
                    <li class="menu-catalog__li">
                        <a href="#" class="menu-catalog__link menu-catalog__link_title"><span>Realme</span></a>
                        <div class="menu-catalog__content">
                            <div class="menu-catalog__box">
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Ultra</span></a>
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Plus</span></a>
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Plus</span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="menu-catalog" id="category-5">
                <ul class="menu-catalog__list" data-title="Наушники и колонки">
                    <li class="menu-catalog__li">
                        <a href="#" class="menu-catalog__link menu-catalog__link_title"><span>Realme</span></a>
                        <div class="menu-catalog__content">
                            <div class="menu-catalog__box">
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Ultra</span></a>
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Plus</span></a>
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Plus</span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="menu-catalog" id="category-6">
                <ul class="menu-catalog__list" data-title="Продукция Dyson">
                    <li class="menu-catalog__li">
                        <a href="#" class="menu-catalog__link menu-catalog__link_title"><span>Realme</span></a>
                        <div class="menu-catalog__content">
                            <div class="menu-catalog__box">
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Ultra</span></a>
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Plus</span></a>
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Plus</span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="menu-catalog" id="category-7">
                <ul class="menu-catalog__list" data-title="Пылесосы">
                    <li class="menu-catalog__li">
                        <a href="#" class="menu-catalog__link menu-catalog__link_title"><span>Realme</span></a>
                        <div class="menu-catalog__content">
                            <div class="menu-catalog__box">
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Ultra</span></a>
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Plus</span></a>
                                <a href="#" class="menu-catalog__link"><span>Realme S22 Plus</span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="menu-bg"></div>
<div class="menu-footer">
    <div class="wrapper menu-footer__wrapper">
        <a href="#" class="menu-footer__control menu-footer__control-menu">
            <svg width="28" height="28">
                <use xlink:href="img/sprite.svg#icon-catalog"></use>
            </svg>
            <span>Каталог</span>
        </a>
        <a href="#" class="menu-footer__control menu-footer__basket">
            <svg width="28" height="28">
                <use xlink:href="img/sprite.svg#icon-basket"></use>
            </svg>
            <span>Корзина</span>
        </a>
        <a href="#" class="menu-footer__control  menu-footer__favorites">
            <svg width="28" height="28">
                <use xlink:href="img/sprite.svg#icon-favorites"></use>
            </svg>
            <span>Избранное</span>
        </a>
        <a href="#" class="menu-footer__control">
            <svg width="25" height="25">
                <use xlink:href="img/sprite.svg#icon-profile"></use>
            </svg>
            <span>Профиль</span>
        </a>
    </div>
</div>
